{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "allowImportExportEverywhere": true,
    "babelOptions": {
      "babelrc": false,
      "configFile": false,
      "presets": ["@babel/preset-env"]
    }
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  // ESLint가 무시할 디렉토리, 파일을 설정
  "ignorePatterns": [
    "node_modules/",
    "build/"
  ],
  // ESLint 룰을 설정
  "rules": {
    // prettier에 맞게 룰을 설정
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}